
_compareTemp/TMP1i27ick.html
*.xml
*.ts
Api/node_modules/@discordjs/collection/LICENSE
Api/node_modules/ws/README.md
Api/node_modules/ws/package.json
Api/node_modules/ws/LICENSE
Api/node_modules/ws/lib/websocket.js
Api/node_modules/ws/lib/websocket-server.js
Api/node_modules/ws/lib/validation.js
Api/node_modules/ws/lib/stream.js
Api/node_modules/ws/lib/sender.js
Api/node_modules/ws/lib/receiver.js
Api/node_modules/ws/lib/permessage-deflate.js
Api/node_modules/ws/lib/limiter.js
Api/node_modules/ws/lib/extension.js
Api/node_modules/ws/lib/event-target.js
Api/node_modules/ws/lib/constants.js
Api/node_modules/ws/lib/buffer-util.js
Api/node_modules/ws/index.js
Api/node_modules/ws/browser.js
Api/node_modules/tweetnacl/README.md
Api/node_modules/tweetnacl/PULL_REQUEST_TEMPLATE.md
Api/node_modules/tweetnacl/package.json
Api/node_modules/tweetnacl/nacl.min.js
Api/node_modules/tweetnacl/nacl.js
Api/node_modules/tweetnacl/nacl-fast.min.js
Api/node_modules/tweetnacl/nacl-fast.js
Api/node_modules/tweetnacl/LICENSE
Api/node_modules/tweetnacl/CHANGELOG.md
Api/node_modules/tweetnacl/AUTHORS.md
Api/node_modules/setimmediate/setImmediate.js
Api/node_modules/setimmediate/package.json
Api/node_modules/setimmediate/LICENSE.txt
Api/node_modules/node-fetch/README.md
Api/node_modules/node-fetch/package.json
Api/node_modules/node-fetch/LICENSE.md
Api/node_modules/node-fetch/lib/index.mjs
Api/node_modules/node-fetch/lib/index.js
Api/node_modules/node-fetch/lib/index.es.js
Api/node_modules/node-fetch/CHANGELOG.md
Api/node_modules/node-fetch/browser.js
Api/node_modules/mime-types/README.md
Api/node_modules/mime-types/package.json
Api/node_modules/mime-types/LICENSE
Api/node_modules/mime-types/index.js
Api/node_modules/mime-types/HISTORY.md
Api/node_modules/discord.js/src/util/Util.js
Api/node_modules/discord.js/src/util/UserFlags.js
Api/node_modules/discord.js/src/util/SystemChannelFlags.js
Api/node_modules/discord.js/src/util/Structures.js
Api/node_modules/discord.js/src/util/Speaking.js
Api/node_modules/discord.js/src/util/Snowflake.js
Api/node_modules/discord.js/src/util/Permissions.js
Api/node_modules/discord.js/src/util/MessageFlags.js
Api/node_modules/discord.js/src/util/LimitedCollection.js
Api/node_modules/discord.js/src/util/Intents.js
Api/node_modules/discord.js/src/util/DataResolver.js
Api/node_modules/discord.js/src/util/Constants.js
Api/node_modules/discord.js/src/util/Collection.js
Api/node_modules/discord.js/src/util/BitField.js
Api/node_modules/discord.js/src/util/ActivityFlags.js
Api/node_modules/discord.js/src/rest/RequestHandler.js
Api/node_modules/discord.js/src/rest/HTTPError.js
Api/node_modules/discord.js/package.json
Api/node_modules/discord.js/jsdoc.json
Api/node_modules/discord.js/esm/discord.mjs
Api/node_modules/discord.js/.tern-project
Api/node_modules/asynckit/stream.js
Api/node_modules/asynckit/serialOrdered.js
Api/node_modules/asynckit/serial.js
Api/node_modules/asynckit/README.md
Api/node_modules/asynckit/parallel.js
Api/node_modules/asynckit/package.json
Api/node_modules/asynckit/LICENSE
Api/node_modules/asynckit/lib/terminator.js
Api/node_modules/asynckit/lib/streamify.js
Api/node_modules/asynckit/lib/state.js
Api/node_modules/asynckit/lib/readable_serial_ordered.js
Api/node_modules/asynckit/lib/readable_serial.js
Api/node_modules/asynckit/lib/readable_parallel.js
Api/node_modules/asynckit/lib/readable_asynckit.js
Api/node_modules/asynckit/lib/iterate.js
Api/node_modules/asynckit/lib/defer.js
Api/node_modules/asynckit/lib/async.js
Api/node_modules/asynckit/lib/abort.js
Api/node_modules/asynckit/index.js
Api/node_modules/asynckit/bench.js
Api/node_modules/@discordjs/form-data/Readme.md
Api/node_modules/@discordjs/form-data/package.json
Api/node_modules/@discordjs/form-data/License
Api/node_modules/@discordjs/form-data/lib/populate.js
Api/node_modules/@discordjs/form-data/lib/form_data.js
Api/node_modules/@discordjs/form-data/lib/browser.js
Api/node_modules/@discordjs/collection/README.md
Api/node_modules/@discordjs/collection/package.json
Api/node_modules/@discordjs/collection/dist/index.js
Api/node_modules/discord.js/src/rest/APIRequest.js
Api/node_modules/discord.js/src/rest/APIRouter.js
Api/node_modules/discord.js/src/rest/DiscordAPIError.js
Api/node_modules/discord.js/src/rest/RESTManager.js
Api/node_modules/discord.js/src/structures/APIMessage.js
Api/node_modules/discord.js/src/structures/Base.js
Api/node_modules/discord.js/src/structures/BaseGuildEmoji.js
Api/node_modules/discord.js/src/structures/ClientUser.js
Api/node_modules/discord.js/src/structures/Emoji.js
Api/node_modules/discord.js/src/structures/Guild.js
Api/node_modules/discord.js/src/structures/GuildAuditLogs.js
Api/node_modules/discord.js/src/structures/GuildChannel.js
Api/node_modules/discord.js/src/structures/GuildEmoji.js
Api/node_modules/discord.js/src/structures/GuildPreview.js
Api/node_modules/discord.js/src/structures/GuildPreviewEmoji.js
Api/node_modules/discord.js/src/structures/interfaces/Collector.js
Api/node_modules/discord.js/src/structures/interfaces/TextBasedChannel.js
Api/node_modules/discord.js/src/structures/Invite.js
Api/node_modules/discord.js/src/structures/Message.js
Api/node_modules/discord.js/src/structures/MessageAttachment.js
Api/node_modules/discord.js/src/structures/MessageEmbed.js
Api/node_modules/discord.js/src/structures/MessageMentions.js
Api/node_modules/discord.js/src/structures/NewsChannel.js
Api/node_modules/discord.js/src/structures/PartialGroupDMChannel.js
Api/node_modules/discord.js/src/structures/PermissionOverwrites.js
Api/node_modules/discord.js/src/structures/ReactionCollector.js
Api/node_modules/discord.js/src/structures/Role.js
Api/node_modules/discord.js/src/structures/StoreChannel.js
Api/node_modules/discord.js/src/structures/Team.js
Api/node_modules/discord.js/src/structures/TeamMember.js
Api/node_modules/discord.js/src/structures/TextChannel.js
Api/node_modules/discord.js/src/structures/User.js
Api/node_modules/discord.js/src/structures/VoiceChannel.js
Api/node_modules/discord.js/src/structures/VoiceRegion.js
Api/node_modules/discord.js/src/structures/VoiceState.js
Api/node_modules/discord.js/src/structures/Webhook.js
Api/node_modules/discord.js/src/managers/BaseManager.js
Api/node_modules/discord.js/src/managers/ChannelManager.js
Api/node_modules/discord.js/src/managers/GuildChannelManager.js
Api/node_modules/discord.js/src/managers/GuildEmojiManager.js
Api/node_modules/discord.js/src/managers/GuildEmojiRoleManager.js
Api/node_modules/discord.js/src/managers/GuildManager.js
Api/node_modules/discord.js/src/managers/GuildMemberManager.js
Api/node_modules/discord.js/src/managers/GuildMemberRoleManager.js
Api/node_modules/discord.js/src/managers/MessageManager.js
Api/node_modules/discord.js/src/managers/PresenceManager.js
Api/node_modules/discord.js/src/managers/ReactionManager.js
Api/node_modules/discord.js/src/managers/ReactionUserManager.js
Api/node_modules/discord.js/src/managers/RoleManager.js
Api/node_modules/discord.js/src/managers/UserManager.js
Api/node_modules/discord.js/src/managers/VoiceStateManager.js
Api/node_modules/discord.js/src/structures/CategoryChannel.js
Api/node_modules/discord.js/src/structures/Channel.js
Api/node_modules/discord.js/src/structures/ClientApplication.js
Api/node_modules/discord.js/src/structures/ClientPresence.js
Api/node_modules/discord.js/src/structures/DMChannel.js
Api/node_modules/discord.js/src/structures/GuildMember.js
Api/node_modules/discord.js/src/structures/Integration.js
Api/node_modules/discord.js/src/structures/MessageCollector.js
Api/node_modules/discord.js/src/structures/MessageReaction.js
Api/node_modules/discord.js/src/structures/Presence.js
Api/node_modules/discord.js/src/structures/ReactionEmoji.js
Api/node_modules/discord.js/src/client/BaseClient.js
Api/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_PINS_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_BAN_REMOVE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_CREATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBER_ADD.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBER_REMOVE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/INVITE_CREATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_CREATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_DELETE.js
Api/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_REMOVE_ALL.js
Api/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_REMOVE_EMOJI.js
Api/node_modules/discord.js/src/client/websocket/handlers/PRESENCE_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/READY.js
Api/node_modules/discord.js/src/client/websocket/handlers/USER_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/WEBHOOKS_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/WebSocketShard.js
Api/node_modules/discord.js/src/client/websocket/handlers/INVITE_DELETE.js
Api/node_modules/discord.js/src/client/websocket/handlers/index.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_ROLE_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_ROLE_DELETE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_ROLE_CREATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBERS_CHUNK.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_MEMBER_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_INTEGRATIONS_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_EMOJIS_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_DELETE.js
Api/node_modules/discord.js/src/client/websocket/handlers/GUILD_BAN_ADD.js
Api/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_DELETE.js
Api/node_modules/discord.js/src/client/websocket/handlers/CHANNEL_CREATE.js
Api/node_modules/discord.js/src/client/Client.js
Api/node_modules/discord.js/src/client/actions/UserUpdate.js
Api/node_modules/discord.js/src/client/actions/GuildIntegrationsUpdate.js
Api/node_modules/discord.js/src/client/actions/GuildEmojiDelete.js
Api/node_modules/discord.js/src/client/actions/GuildEmojiCreate.js
Api/node_modules/discord.js/src/client/actions/Action.js
Api/node_modules/discord.js/src/client/actions/ActionsManager.js
Api/node_modules/discord.js/src/client/actions/ChannelCreate.js
Api/node_modules/discord.js/src/client/actions/ChannelUpdate.js
Api/node_modules/discord.js/src/client/actions/GuildBanRemove.js
Api/node_modules/discord.js/src/client/actions/GuildChannelsPositionUpdate.js
Api/node_modules/discord.js/src/client/actions/GuildEmojisUpdate.js
Api/node_modules/discord.js/src/client/actions/GuildEmojiUpdate.js
Api/node_modules/discord.js/src/client/actions/GuildMemberRemove.js
Api/node_modules/discord.js/src/client/actions/GuildRoleCreate.js
Api/node_modules/discord.js/src/client/actions/GuildRoleDelete.js
Api/node_modules/discord.js/src/client/actions/GuildRoleUpdate.js
Api/node_modules/discord.js/src/client/actions/InviteCreate.js
Api/node_modules/discord.js/src/client/actions/MessageCreate.js
Api/node_modules/discord.js/src/client/actions/MessageDelete.js
Api/node_modules/discord.js/src/client/actions/MessageDeleteBulk.js
Api/node_modules/discord.js/src/client/actions/MessageReactionAdd.js
Api/node_modules/discord.js/src/client/actions/MessageReactionRemove.js
Api/node_modules/discord.js/src/client/actions/MessageReactionRemoveEmoji.js
Api/node_modules/discord.js/src/client/actions/MessageUpdate.js
Api/node_modules/discord.js/src/client/actions/PresenceUpdate.js
Api/node_modules/discord.js/src/client/actions/VoiceStateUpdate.js
Api/node_modules/discord.js/src/client/actions/WebhooksUpdate.js
Api/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_DELETE_BULK.js
Api/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_ADD.js
Api/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_REACTION_REMOVE.js
Api/node_modules/discord.js/src/client/websocket/handlers/MESSAGE_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/RESUMED.js
Api/node_modules/discord.js/src/client/websocket/handlers/TYPING_START.js
Api/node_modules/discord.js/src/client/websocket/handlers/VOICE_SERVER_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/handlers/VOICE_STATE_UPDATE.js
Api/node_modules/discord.js/src/client/websocket/WebSocketManager.js
Api/node_modules/discord.js/src/client/voice/VoiceConnection.js
Api/node_modules/discord.js/src/client/voice/util/VolumeInterface.js
Api/node_modules/discord.js/src/client/voice/util/Silence.js
Api/node_modules/discord.js/src/client/voice/util/Secretbox.js
Api/node_modules/discord.js/src/client/voice/util/PlayInterface.js
Api/node_modules/discord.js/src/client/voice/networking/VoiceWebSocket.js
Api/node_modules/discord.js/src/client/voice/networking/VoiceUDPClient.js
Api/node_modules/discord.js/src/client/voice/dispatcher/StreamDispatcher.js
Api/node_modules/discord.js/src/client/voice/dispatcher/BroadcastDispatcher.js
Api/node_modules/discord.js/src/client/voice/ClientVoiceManager.js
Api/node_modules/discord.js/src/client/actions/MessageReactionRemoveAll.js
Api/node_modules/discord.js/src/client/actions/InviteDelete.js
Api/node_modules/discord.js/src/client/actions/GuildUpdate.js
Api/node_modules/discord.js/src/client/actions/GuildRolesPositionUpdate.js
Api/node_modules/discord.js/src/client/actions/GuildDelete.js
Api/node_modules/discord.js/src/client/actions/ChannelDelete.js
Api/node_modules/discord.js/src/client/voice/player/AudioPlayer.js
Api/node_modules/discord.js/src/client/voice/player/BasePlayer.js
Api/node_modules/discord.js/src/client/voice/player/BroadcastAudioPlayer.js
Api/node_modules/discord.js/src/client/voice/receiver/PacketHandler.js
Api/node_modules/discord.js/src/client/voice/receiver/Receiver.js
Api/node_modules/discord.js/src/client/voice/VoiceBroadcast.js
Api/node_modules/discord.js/src/client/WebhookClient.js
Api/node_modules/discord.js/src/index.js
Api/node_modules/discord.js/src/WebSocket.js
Api/node_modules/discord.js/src/sharding/ShardingManager.js
Api/node_modules/discord.js/src/sharding/ShardClientUtil.js
Api/node_modules/discord.js/src/sharding/Shard.js
Api/node_modules/discord.js/src/errors/Messages.js
Api/node_modules/discord.js/src/errors/index.js
Api/node_modules/discord.js/src/errors/DJSError.js
Api/node_modules/discord.js/LICENSE
Api/node_modules/discord.js/README.md
Api/node_modules/discord.js/webpack/discord.js
Api/node_modules/discord.js/webpack/discord.js.LICENSE.txt
Api/node_modules/discord.js/webpack/discord.min.js
Api/node_modules/discord.js/webpack/discord.min.js.LICENSE.txt
Api/node_modules/event-target-shim/dist/event-target-shim.js
Api/node_modules/event-target-shim/dist/event-target-shim.js.map
Api/node_modules/event-target-shim/dist/event-target-shim.mjs
Api/node_modules/event-target-shim/dist/event-target-shim.mjs.map
Api/node_modules/event-target-shim/dist/event-target-shim.umd.js
Api/node_modules/event-target-shim/dist/event-target-shim.umd.js.map
Api/node_modules/event-target-shim/LICENSE
Api/node_modules/event-target-shim/package.json
Api/node_modules/event-target-shim/README.md
Api/node_modules/abort-controller/browser.js
Api/node_modules/abort-controller/browser.mjs
Api/node_modules/abort-controller/dist/abort-controller.js
Api/node_modules/abort-controller/dist/abort-controller.js.map
Api/node_modules/abort-controller/dist/abort-controller.mjs
Api/node_modules/abort-controller/dist/abort-controller.mjs.map
Api/node_modules/abort-controller/dist/abort-controller.umd.js
Api/node_modules/abort-controller/dist/abort-controller.umd.js.map
Api/node_modules/abort-controller/LICENSE
Api/node_modules/abort-controller/package.json
Api/node_modules/abort-controller/polyfill.js
Api/node_modules/abort-controller/polyfill.mjs
Api/node_modules/abort-controller/README.md
Api/node_modules/combined-stream/lib/combined_stream.js
Api/node_modules/combined-stream/License
Api/node_modules/combined-stream/package.json
Api/node_modules/combined-stream/Readme.md
Api/node_modules/combined-stream/yarn.lock
Api/node_modules/delayed-stream/License
Api/node_modules/delayed-stream/package.json
Api/node_modules/delayed-stream/Readme.md
Api/node_modules/mime-db/db.json
Api/node_modules/mime-db/HISTORY.md
Api/node_modules/mime-db/index.js
Api/node_modules/mime-db/LICENSE
Api/node_modules/mime-db/package.json
Api/node_modules/mime-db/README.md
Api/node_modules/prism-media/LICENSE
Api/node_modules/prism-media/package.json
Api/node_modules/prism-media/README.md
Api/node_modules/prism-media/src/core/FFmpeg.js
Api/node_modules/prism-media/src/core/index.js
Api/node_modules/prism-media/src/core/VolumeTransformer.js
Api/node_modules/prism-media/src/core/WebmBase.js
Api/node_modules/prism-media/src/index.js
Api/node_modules/prism-media/src/opus/index.js
Api/node_modules/prism-media/src/opus/OggDemuxer.js
Api/node_modules/prism-media/src/opus/Opus.js
Api/node_modules/prism-media/src/opus/WebmDemuxer.js
Api/node_modules/prism-media/src/util/Constants.js
Api/node_modules/prism-media/src/util/loader.js
Api/node_modules/prism-media/src/vorbis/index.js
Api/node_modules/prism-media/src/vorbis/WebmDemuxer.js
Api/node_modules/delayed-stream/.npmignore
Api/node_modules/delayed-stream/lib/delayed_stream.js
Api/node_modules/delayed-stream/Makefile
