<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Your username is <%= name %></h1>
    <p>Yur id is <%= id %></p>
  </body>
</html>
